section
    h1 Observable web
    h3 Untangling async 
        div.fragment completely

    p.author-name Ganesh Shanmugasundaram
    aside.notes   Welcome to Observable web
        |    Untangling async, when i thought of using this tagline, 
        |    i searched the internet to see if anyone else has used anything similar already.  
        |    Interestingly i found another presentation last year with exactly the same tagline.
        |    That presentation was presenting Javascript Promises to solve the async problem 
        |    and here we are a year later, dealing with the same problem slightly differently. 
        |    So, had to slightly modify the tagline to "untangling async completely".
        |    Hope to solve it completely this time.
        |    Hello all, I'm Ganesh Shanmugasundaram.

section
   img.center.logo(src=require('./img/logo.png'))
    
   img.fragment.center.london(src=require('./img/london.png'))
   aside.notes I'm a Web Development Engineer at the Bookdepository, 
        | an Amazon subsidiary based in London.
        | We are an online book seller.
        | We sell through our own website and through Amazon Marketplace.
        | And we deliver worldwide for free,
        | a service not offered by many retailers.
        | Without further ado,
        | let's get started.

section
    h1 Webdevs
    ul
        li.fragment Javascript everyday?
        li.fragment Maintain code?
        li.fragment Good code
   
    aside.notes Firstly,
        | i'd like to ask a couple of questions
        | - how many of you use javascript everyday? could be work or fun?
        | could be working on a simple UI interaction or a full blown single page app. anything..  
        | - how many people maintain code that someone else has left behind?
        | - what do you think is good code?
        | I know we all write good code, no one wants to write bad code,
        | except for that guy who left you to maintain his code.
        | In this talk, i'd like to discuss one major problem i've been 
        | or we've been dealing with in our day to day webdev life,
        | and the solutions we've come up with over the course of the internet.


section
    h1 A feature
    ul
        li.fragment Thought process
        li.fragment Series of steps
    
    aside.notes Building a feature
        | When i get asked to build a feature big or small on the website,
        | this is how my thought process works
        | i try to break it down into smaller chunks and think about it in a series of smaller steps,
        | i guess most of us do that.
        | in addition, i like to create user stories and think about the pseudo code first 
        | before starting to code
        
section
    h1 User story
    ul
        li.fragment Type something in search box
        li.fragment Show search suggestions
        li.fragment Update suggestions
    
    aside.notes Let's talk about a user story here
        | - when a user types something in the search box
        | - display a list of search suggestions under search box
        | - the suggestions should update with more relevant ones  as the user types further
        | the feature is a trivial search auto-suggest 
        | that you can find in most websites today,

section
    h1 Pseudocode
    ul.pseudocode
        li.fragment Get input from the user
        li.fragment Get Suggestions
        li.fragment Display result
        li.fragment Repeat
    
    aside.notes a pseudo code for that feature would look something like this
        | - get input from user
        | - query server and get suggestions
        | - display results
        | repeat till the user has found his result
        | sounds quite simple isn't it?
        | That's what i think when i start building any new feature.
 
section
    h1 Handling async
        img.fragment.center(src=require('./img/callbacks-everywhere.jpg'))
    
    aside.notes however, when i go about implementing it, 
        | I get to deal with keyboard events, network requests etc. 
        | which are asynchronous in nature. 
        | which makes it not so simple anymore.
        | so, how have been handling the async events.
        | traditionally the protocol for dealing with such events is via callbacks.
        | let's try implementing this the callbacks way.

section
    h1 Step 1: Input
    pre
        code.javascript searchBox.addEventListener('keyup', (e) => {
            |     let text = e.target.value;
            | });
            
    aside.notes the first step is to get what the user has typed.
        | we attach an event listerner to the input field, 
        | listen for the keyup event 
        | and get what the user has typed so far.
        
section
    h1 Step 2: Suggestions
    pre
        code.javascript  searchBox.addEventListener('keyup', (e) => {
            |    let term = e.target.value;
            |    performSearch(term, (result) => {
            |        
            |    });
            | });
            
    aside.notes now that we got the text, let's query the server and get the suggestions,
        | for simplicity let's assume performSearch does the ajax request to the server.
        | we've got the result now.
            
section
    h1 Step 3: Render
    pre
        code.javascript const searchBox = document.getElementById('searchbox');
            | searchBox.addEventListener('keyup', (e) => {
            |     let term = e.target.value;
            |     performSearch(term, (result) => {
            |         displayResult(result);
            |     });
            | });
     
     h2.fragment Good code? 
     
     aside.notes let's display it to the user.
        | again for simplicity sake, 
        | let's assume we have a function displayResult
        | which renders the result under the search box.
        | and that would complete our feature.
        | the code works, does what we wanted it to do.
        | Ok, now, is that good code? would you be happy if you were left with that code to maintain?
        | I wouldn't mind maintaining that code. 
        | That code is simple,
        | easy to read and understand
        | I can maintain it.

section
    h1 Done!
    img.center(src=require('./img/peter-happy.png'))
    aside.notes so we're done with the feature now
        | let's get our code peer reviewed,
        | do some refactoring,
        | write some tests. 
        | Ship it to production! 
        | That feature is done!
        | We'll never ever have to go back to that code again forever.
        | I wish things were like that!

section
    h1 Wait!
    img.center(src=require('./img/website-never-done.jpg'))
    aside.notes But Wait! a website is never done!
        | We launched this feature. 
        | A Simple one, but useful to the users.
        | The next day i receives an email from one of my co-workers

section
    blockquote.left Love the new auto suggest feature you guys have launched. 
        | But it acts a bit weird sometimes.
        
    aside.notes it read,  "Love the new auto suggest feature you guys have launched.
        | But it acts a bit wierd sometimes. Could you please check?"
        | He was not a technical person and didn't provie any technical information.
        | It's great that he likes the feature,
        | but it acts a bit weird some times.
        | hmm, that wasn't very informative, is it?.
        | So, I thought before i get back to him asking for more information, 
        | let me do some sanity check,
        | just to make sure there's isn't anything obvious that we missed 
        | or the tests have missed.
        | i opened up my dev box,
        | tested it across different browser and it worked on all the browsers,
        | even in the old ones
        | So i emailed him back saying,
        | i tested it on most browsers and couldn't find any issue, 
        | could you give me some more information on the issue?
        | like what was happening,
        | the browser version,
        | some screenshots may be.
        | That'll hopefully give us enough information to get started.
section
   blockquote.left I was on the tube this morning, I was trying to search for a book, 
        | I typed 'fifty' and it showed me the exact book I wanted, but when I tried to click on it, 
        | the results changed quickly, which wasn't that relevent.<br><br> 
        | I had to press backspace and the same letter again to get to the book, but it worked the second time. 
        | The same issue happened a few times during my journey 
        | I'm on iphone 5S, not sure how to check the browser version. 
        | I can't seem to reproduce the issue now though, seemed to have fixed itself!
    aside.notes And then i got a reply, which read
        | I was on the tube this morning,
        | i was trying to search for a book, 
        | i typed 'harry' and it showed me the exact book i wanted,
        | but when i tried to click on it, 
        | the results changed quickly,
        | which wasn't that relevent. 
        | I had to press backspace and the same letter again to get to the book,
        | but it worked the second time. 
        | The same issue happened a few times during my journey 
        | I'm on iphone 5S,
        | not sure how to check the browser version. 
        | I can't seem to reproduce the issue now though,
        | seemed to have fixed itself!
        | we all love the issue that fixes itself.
        | That reply provided more information for us to get started.
section
    h1 Extended scenario
    ul
        li.fragment On Tube 
            span.fragment or Metro
        li.fragment Mobile internet 
        li.fragment Trying to find a book
        
    aside.notes we have an extended use case
        | a user who is on the tube as the Londoners call it or a Metro as the most of the world call it. 
        | he's on mobile network connection,
        | trying to find a book,
        | using the feature we just launched.
        | he's facing some issues, 
        | mostly because of the changes in the environment

section
    h1 Things to consider
    ul
        li.fragment Network bandwidth
        li.fragment Unstable network
        li.fragment Data cost
        li.fragment Device constraints
        
    aside.notes 
        | What kind of environment issues should we consider for this use case?
        | - network might be slow, depending on the type of connection he's on. 
        | - network might be unstable, since he's on a train and moving, some network requests might fail
        | - data cost, depending on the plan he is, there's going to be a network cost.
        | - the device might be slow or low on memory 
        | We would want to cater for that user as well,
        | so let's improve our feature to accomodate this specific use case

section
    h1 Improvements
    ul
        li.fragment Reduce network requests
        li.fragment Remove duplicate requests
        li.fragment Handle race condition
        
    aside.notes how could we improve?
        | - reduce the number of requests we make, that'll be quite useful especially in terms of bandwidth, and data costs.
        | in this case, let's say we query the server
        | only when the user stops typing for about 100 milliseconds
        | we can  add some debounce logic to achieve that[100ms]
        | - remove duplicate requests
        | you don't want to make the same request to the server more than once.
        | that'll save some cost and time
        | - avoid race conditions, make sure we show the results for the latest value in the search box.
        | this will address the issue we saw earlier.
        | ok, so we've figured out what we want to do, 

section
    h1 Debounce
    pre
        code.js const searchBox = document.getElementById('searchbox');
            | var requestTimer = null;
            | searchBox.addEventListener('keyup', (e) => {
            |     let term = e.target.value;
            |     clearTimeout(requestTimer);
            |     requestTimer = setTimeout(() => {
            |         performSearch(term, (result) => {
            |             displayResult(result);
            |         );
            |     }, 100);
            | });
            
    aside.notes let's deal with the improvements one at a time. 
        | First one is reducing the number of request.
        | implement some debounce logic 
        | so, how do we implement debounce logic,
        | let's use the age old method of adding a setTimeout,
        | and cancel the request if we detect another keyup event within 100 milli seconds.
        | that gets harder to read now,
        | ok, now how many of you think that's bad code? 
        | and how many of you will be happy to maintain it?

section
    h1 More problems
    ul
        li.fragment state
        li.fragment callback hell
        li.fragment one more problem...
        
    aside.notes hmm, now we have 3 problems
        | - we've introduced a state for the timer which makes it harder to test
        | - we've gotten into the callback hell!
        | also, did anyone spot anything else that was wrong with the code?
              
section
    img(src=require('./img/brace.jpg'))
    
    aside.notes it was missing a curly brace
        | this is one of the symptoms of callback hell. 
        | you need an IDE or a linter to work with such code
        | the code gets harder to maintain as we make more changes.

section
    blockquote Always code as if the person who ends up maintaining your code is a violent psychopath who knows where you live.
    
    aside.notes This is something i read on the internet, and is quite true
        | Always code
        | as if the person who ends up maintaining your code
        | is a violent psychopath who knows where you live.
        | And i always fear that guy, 
        | so, let's see how we can refactor our code
    
section
    h1 Promises may be?
    ul
        li.fragment chainable
        li.fragment readable code
        li.fragment browser support
        li.fragment handle error
    
    aside.notes We've got promises to save us from the callback hell right?
        | Promises are chainable. 
        | they are more readable and comprehendable.
        | most modern browsers support promises, 
        | and there are polyfills for the older ones,
        | which is great.
        | can handle exception better than callbacks

section
    h1 Promises in action!
    ul
        li.fragment one value
        li.fragment no modify
        li.fragment no cancel
    
    aside.notes let's looks at some features of promise.
        | before using them in our code.
        | - a promise must only resolve once. and it can have only one value
        | - when you create a promise 
        | it's on it's way to be resolved or rejected, 
        | it can't be modified later.  
        | - AJAX request are good candidates for promise.
        | infact, there is the fetch api, 
        | which returns a promise. 
        | however you can't cancel a request that you've just made. 
        | which is bad.
        | promise doesn't look that promising.
        | let's see how our code looks like if we rewrite it using promise.

section
    h1 Promisify the code
    pre
        code.javascript const searchBox = document.getElementById('searchbox');
            | var requestTimer = null;
            | searchBox.addEventListener('keyup', (e) => {
            |     let term = e.target.value;
            |     clearTimeout(requestTimer);
            |     requestTimer = setTimeout(() => {
            |         fetch('/search?term='+term)
            |             .then((resp) => {
            |                 return resp.json();
            |             }).then((result) => {
            |                 displayResult(result);
            |             })
            |     }, 300);
            | });
    
    aside.notes since a promise can resolve only once,
        | the keyup event cannot be promised, 
        | as it'll emit multiple values
        | the setTimeout can't be promised either,
        | as we'll need a way to cancel timer.
        | and promises can't be cancelled.
        | the ajax call can be a perfect candidate for promises, 
        | in fact there is a fetch API which provides
        | a clean interface for making ajax request.
        | so, when we re-wrote our code using promise,
        | the ajax bit looks a bit cleaner and followable 
        | but the rest remains the same. unmaintainable.

section
    h1 Simple feature?
    img(src=require('./img/grind-gear.png'))
    p.fragment.disapprove ಠ_ಠ
    
    aside.notes we started out with a simple 3 step user story,
        | and we ended up in this mess 
        | and we haven't even completed our feature yet.
        | it's quite annoying that we can't build a simple feature in a simple way.
        | can we do better than this? 
        | can we make it more readable /  maintainable?
        | may be use a framework or library?        
        | everytime i tell that there's a new framework or library in javascript 
        | to nonJavascript devs i work with, i get a look of disapproval. 
        | Not another one again.
        | Shouldn't this be a feature in the language rather than a library?
        | a language shouldn't force you to write bad code?
        | especially a language used for all the websites
        | so, let me introduce you to 
        | a new object type called Observables.

section
    h1 Observable
    ul
        li.fragment Modelling async data
        li.fragment Steam of events
        li.fragment Emits 0 -> n values
    
    aside.notes Let's see observables can do here, but before that, let's see what observables are
        | Bluntly put, 
        | an observable is an object type for modelling async data.
        | it represents a stream of values over a period of time.
        | It pushes or emits zero to n values over a period of time.

section
    h1 Where does it fit?
    ul
        li.fragment Primitive: sync + single value
        li.fragment Iterator: sync + multiple value
        li.fragment Promise: async + single value
        li.fragment
            span.fragment Observable: 
            span   async + multiple value
    
    aside.notes More clearly,
        | If it's a synchronous operation, like generating a random number or any computation
        | and returns a single value, it can be represented by primitives like string, number etc.
        | If it's synchronous operation and returns multiple values, 
        | it can be modelled iterators. A JS array is a good example.
        | If it's asynchronous operation and emits a ONLY a single value,
        | it can be modelled as a promise.
        | And finally, this is where there is some hollow space 
        | as we don't have anything compelling at the moment
        | to model something asynchronous and emits 0 - N values,
        | and Observable fills in this space
        | Now that brings us to another question,
        | so do i have to learn another API?
        | new syntax again?
        | well, yes.. but it's easier than you think.
        | The learning curve is quite flat actually

section
    h1 Syntax ~ Promise
    pre.fragment
        code.javascript const p = new Promise();
            | p.then(onResolve, onReject);
    
    aside.notes So, let's see how to use an observable,
        | The syntax is similar to promise,
        | so if you've used promises before,
        | you'll be comfortable using observable.
        | In promise, we usually call 'then' on the promise
        | passing onResolve and onReject functions.
        | that's a promise.
        | when the promise resolves, onResolve is called
        | and when it's rejected onReject is called.

section
    h1 Subscribe vs then
    pre
        code.javascript const ob = new Observable({});
            | ob.subscribe(onNext, onError);
            
    aside.notes In Observable, 
        | we use subscribe instead of then.
        | We pass onNext and onError functions.
        | The onNext gets called every time 
        | the observable emits a value.

section
    h1 onComplete
    pre
        code.javascript const ob = new Observable({});
            | const subscription = ob.subscribe(onNext, 
            |                                    onComplete,
            |                                    onError);
    
    aside.notes Since it can emit multiple values,
        | we need a way to see when it's complete, 
        | so we pass a onComplete function as well.
        | onComplete will get called when all the values are emitted.
 
 section 
    h1 Unsubscribe
    pre
        code.javascript const ob = new Observable({});
            | const subscription = ob.subscribe(onNext, 
            |                                    onComplete,
            |                                    onError);
            | subscription.unsubscribe();
    
    aside.notes observables can emit multiple values, 
        | we'll need a way to say stop sending me events
        | we just call unsubscribe on the subscription
        | this will do the clean up operations if any.

section
    h1 Creating an Observable
    pre.fragment
        code.javascript $Obs = new Observable(observer => {
           |        observer.next(1);
           |        observer.complete();
           | 
           |        return _ =>  {
           |            console.log('unsubscribed');
           |        }
           | }); 
           | subs = $Obs.subscribe(onNext, onComplete, onError);
           | // 1 <-- onNext
           | // complete <-- onComplete
           | subs.unsubscribe()
           | // unsubscribed
           
    aside.notes So, we saw how to subscribe to an observale,
        | let's see how to create an observable.
        | But before that, How many of you have used promises?
        | How many of you actually create promise from scratch?
        | So, the Observable takes in a function which receives an observer.
        | observer will have 3 methods next, complete and error
        | subscribing to an observable will call this function that we passed.
        | onNext will be called everytime you call observer.next inside the observable
        | and it'll receive the parameter you pass observer.next
        | in our case, it'll be called once with 1 
        | similarly, onComplete will be called when you call observer.complete()
        | same for onError
        | the returned function, will be called when you unsubscribe the subscription   
        | that's a very simple obsevable which emits 1 when you subscribe.
        | calls oncomplete right after onNext
        | and prints unsubscribed on unsubscription
                
section
    h1 Creating an Observable
    pre.fragment
        code.javascript $clickObs = new Observable(observer => {
            |     const element = docuement.getElementById('btn');
            |     const handler =  (evt) => {
            |         observer.next(evt);
            |     };
            |     
            |     element.addEventListener('click', handler, true);
            |     
            |     return _ =>  {
            |         element.removeEventListener('click', handler, true);
            |     }
            |     
            | });
            
    aside.notes let's see how we'll model an actual async event
        |  we attach an click event listener on a button, 
        |  and every time the button is clicked observer.next is called with the event info
        |  so, onNext function will be called with the eventInfo everytime the button is clicked
        |  we don't call observer.complete or observer.error here, so the onComplete or error will never be called.  
        |  And we return a clean up function which will remove the listener from the button.
        | So, unsubscription will remove the event listener from the button

 section
    h1 What?
    ul
        li.fragment Keyboard events
        li.fragment Mouse events
        li.fragment Animation
        li.fragment Lifecycle events
        li.fragment XHR requests
        li.fragment WebSocket requests and messages
        li.fragment everything else...
   
    aside.notes In our auto-suggest we said 
        | only the ajax request is a good candidate for a promise. 
        | So, what about observables?
        | what can be modelled into observables. 
        | if you take a look at the browser events, we have
        | - keyboard events like keyup / keydown etc.
        | they emit values everytime user types.
        | they can be observables.
        | except the oncomplete will never get called.
        | - Mouse events like mouse click, mouse up / down etc can be observables
        | - Animation events start, end, iteration can be observable.
        | they'll have an oncomplete event triggered.
        | - lifecycle events settimeout, request animation frame,
        | they can be modelled to observable
        | - ajax calls,
        | they emit just 1 event, a success or a failure.
        | most of use promises nowadays for this, but they can be observables
        | - websocket events where data is pushed for every message,
        | they're good candidates for observables.
        | - so, nearly all the events that we encounter while we build apps can be observables. 
        
section
    h1 Event emitter?
    ul
        li.fragment Observer pattern
        li.fragment Both emit 0 - n values
        li.fragment Subscription
        li.fragment Lazy ( or cold by default)
        li.fragment Operation happens on subscription 
        li.fragment Each subscriber will get different values
    
    aside.notes How many of you work on nodeJS? 
        | If you've worked on a nodeJS system,
        | you'd be familiar with the concept of event emitters, they're everywhere in node.
        | When i first learnt about observables, 
        | i thought they look quite similar to event emitters.
        | I even thought they were event emitters for the browser?
        | But they are different
        | They both are different implementation of the observer pattern.
        | They both emit  0 or more values.
        | And can be subscribed on.
        | However, Observables are lazy in nature, 
        | they're Cold
        | nothing happens when you instantiate the observable.
        | Actual operation like the ajax request happens only on subscription.
        | While in case of event emitter, 
        | the events are emitted no matter if you're listening or not
        | An observable will have one subscriber by default. 
        | subscribing on observable multiple times 
        | will cause it to perform the operation on each subscription
        | and each subscriber will get different values.
        | which is quite different from event emitters.


section
    h1 What if i want to share values?
    ul
        li.fragment Make it hot
        li.fragment Operation happens on first subscription
        li.fragment Other subscribers just listen
        li.fragment Not all the subscribers get all the values
  
    aside.notes Sometimes you want to share values between multiple subscribers, 
        | like in the case of  the button click observable that we implemented, 
        | we know that the values will be the same, 
        | so sharing the values will save some memory and processing 
        | This is called making the observable hot. 
        | there are tools which can do this.
        | The operation happens only on first subscription. 
        | On subsequent subscriptions, 
        | the subscribers just listen to what's getting emitted 
        | because of the first subscription.
        | The observable acts more like an event emitter, in this case. 
        | And not all the subscribers get all the values. 

section
    h1 What's so special?
    ul
        li.fragment Unified protocol
        li.fragment Transformable
        li.fragment Composable
        li.fragment Using Array#Operators like map, forEach, reduce.
    
    aside.notes so, what's so special about observable?
        | Their syntax is similar to promise,
        | but allows for multiple value to be emitted, ok that's fine.
        | Not really compelling right?
        | So, what makes it special?
        | A few things actually, it could act as a unified protocol for all the async events. 
        | So, you want to represent something that emits just one value, you can use an observable
        | you want to represent something that emits a zillion values, you can use observables for that too. 
        | you can even wrap a synchrnous operation in an observable.
        | They're transformable, 
        | you can apply transformation so each value emitted will be transformed to a different value. 
        | Composable, you can combine 2 or more observable to make a third one.
        | And all this using extended array operators like map, reduce, filter, forEach. 
        | And you can create your own operators as well if required.
        | That in my opinion is the best bit about Observables.
        | They can be treated like iterators.
        
section
    h1 Treat them like iterators
    pre
        code.javascript [1,2,3].map(x => x*x)
            | .reduce((x, sum) => sum+x, 0);
            | // 14
            
    aside.notes Let's take the following example,
        | we're transforming an array [1,2,3]
        | what we're doing here is mapping each value of the array to it's square, 
        | so we get a new array with [1,4,9]
        | then the reduce operation returns the sum of the squares.
        | So we're transforming the array into a single number and in this case the value is 14.

section
    h1 Subscribing to the Click Event
    pre
        code.javascript $clickObs.subscribe(onNext, onComplete, onError);
            | // event [Object]
            | // event [Object]
            | // event [Object]
            
    aside.notes You can perform similar operation on an observable.
        | As for Observables, we can treat each event like a value of the array
        | We get a click eventInfoObject emitted everytime there's a mouse click.
            
section
    h1 Map Click Counter
    pre
        code.javascript $clickObs
            | .map(x => 1)
            | .subscribe(onNext, onComplete, onError);
            | // 1
            | // 1
            | // 1
            
    aside.notes  We can map each of the event to a value of 1
        | the new transformed observable will now emit 1 rather than the event information.

section
    h1 Scan (reduce) Click Counter
    pre
        code.javascript $clickObs
            | .map(x => 1)
            | .scan((x, y) => x+y)
            | .subscribe(onNext, onComplete, onError);
            | // 1
            | // 2
            | // 3
    
    aside.notes  we can perform reduce operation on the new observable,
        |  we're using scan which reduces the values emitted so far.
        | and the resulting observable will emit, sum of the the values emitted so far. 
        | that's a simple click counter implemented in 4 lines.
        | this is useful when you want to extend the features you built, 
        | which you will have to in most cases. 
        | if you look at it deeply, there are no states involved, 
        | we didn't have to keep track of how many times a user has clicked
        | if you're into functional programming,
        | you'll love Observables just for this. 
        | and it's easier to test

section
    h1  Browser support?
    ul
        li.fragment well...
        li.fragment Still in tc39 proposal
        li.fragment Stage 1
        li.fragment Not for ES2016 / ES7
        li.fragment But...
    
    aside.notes so, observables are great tool for modelling async,
        | how about the browser support
        | Well, that's the tricky part. 
        | It's not part of the standards yet and doesn't ship with any of the browsers
        | It's at stage 1 for the tc39 process, which means it's proposed.
        | It didn't make it into ES 2016, 
        | but it should make it into the next release 
        | which is not that far away
        | But that said, 
        | it shouldn't stop us from using observable today.

section
    h1 Projects
    ul
        li.fragment rxJS
        li.fragment baconJS
        li.fragment Angular 2 (http)
        li.fragment more...
    
    aside.notes as there are a lot of libraries supporting Observables 
        | RxJS is one of the mature ones, 
        | it provides APIs for creating observables from events, 
        | promises, event streams, callbacks, virtually anything. 
        | It also provides over 200 operators to 
        | compose and transform observables. Scan is one of their operators. 
        | It has a huge community, and good documentation. 
        | They're trying to make their implementation of Observable 
        | to align with the standards Observable.
        | baconJS, a light weight functional reactive programming library.
        | They let you treat your events as stream, 
        | similar concept as observables.
        | And they provide bunch of operators to manipulate the streams. 
        | Not as extensive as rxJS, but supports most of the use cases.
        | How many angular users do we have here?
        | So, Angular 1, was filled with promises.
        | it used promise extensively, especially for the http provider.
        | Angular 2.0 will be using Observable, currently supported by rxJS.
        | there are a few other projects which implement observables,
        | cycle.js is another big one..
        | So, there is a huge community behind this and this is a worthy contender.
        | definitely worth using it.

section(data-transition="none")
    h1 AutoSuggest
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp');
            | searchObs.subscribe(onNext, onComplete, onError);
            | // [evt Object]
            | // [evt Object] 
            | // [evt Object] 
            | // [evt Object] 
            | // [evt Object] 
    
    aside.notes And, coming to our auto-suggest box. 
       |  Let's see how to implement that using Observable.
       |  I've done it using RxJS, 
       |  but the implemenation should be similar if you use other libraries too.
       |  First thing we have to create an observable for the key-up event,
       |  we can do it from scratch like the way we did with the click event.
       |  I've done it using the Observable.fromEvent function provided by RxJS
       |  if we subscribe to that observable, that'll emit event objects


section(data-transition="none")
    h1 AutoSuggest
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp')
            |           .map(e => e.target.value);
            | searchObs.subscribe(onNext, onComplete, onError);
            | // h
            | // ha
            | // har
            | // harr
            | // harr <-- the user has pressed down key
            | // harry
    
    aside.notes we can then map those events to the target value, 
        | which is the text inside the search box 
        | we've not got an observable that emits text now.


section(data-transition="none")
    h1 AutoSuggest
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp')
            |            .map(e => e.target.value)
            |            .flatMap( term => fetch('/search?term='+term).then(resp => resp.json() ) );
            | searchObs.subscribe(onNext, onComplete, onError);
            | // [Result Object]
            | // [Result Object]
            | // [Result Object]
            | // [Result Object]
            | // [Result Object]
            | // [Result Object]
    
    aside.notes we can then map the text we got to a fetch event
        | which returns a promise. 
        | here we're using flatmap which is another rxjs operator
        | what that does is it returns the resolved value promise rather than the promise itself 
        | in our case it returns the server response in JSON
        | we can subscribe to this, 
        | and the onNext will receive the result which can be displayed to the user.
        | that's our basic implementation, it wasn't too hard was it?
        | how about the enhancements, that's where the problem started last time.

section(data-transition="none")
    h1 Enhancements
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp')
            |            .map(e => e.target.value)
            |            .debounce(100)
            |            .flatMapLatest( term => {
            |                return fetch('/search?term='+term).then(resp => resp.json() ); 
            |            });
            | searchObs.subscribe(onNext, onComplete, onError);
            | // [Result Object]
            | // [Result Object]
    
    aside.notes Let's do the improvements we talked about.
        | first one is reducing the number of requests,
        | add some debounce logic.
        | we add an operator called 'debounce', 
        | again provided by rxjs
        | that'll block the flow till the data emission is stopped for 100 ms 
        | and then make the request

section(data-transition="none")
    h1 Enhancements
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp')
            |            .map(e => e.target.value)
            |            .debounce(100)
            |            .distinctUntilChanged()
            |            .flatMapLatest( term => {
            |                return fetch('/search?term='+term).then(resp => resp.json() ); 
            |            });
            | searchObs.subscribe(onNext, onComplete, onError);
            | // [Result Object]
    
    aside.notes let's add some logic which stops duplicate request
        | we add distinctUntilChanged operator again from RxJS
        | so, the network request is made only when the text value changes.


section(data-transition="none")
    h1 Enhancements
    pre
        code.javascript const searchObs  = Observable.fromEvent(searchBox, 'keyUp')
            |            .map(e => e.target.value)
            |            .debounce(100)
            |            .distinctUntilChanged()
            |            .flatMapLatest( term => {
            |                return fetch('/search?term='+term).then(resp => resp.json() ); 
            |            });
            | searchObs.subscribe(onNext, onComplete, onError);
            | // [Result Object]
    
    aside.notes we replace flatMap with flatMapLatest
        | which returns only the result of the latest value,
        | which will fix the bug our co-worker experienced on the train.
        | now, that's is readable code, 
        | it's easy to follow and extend.
        | in my opinion that's way better than the code we had earlier.  
        | ok, so we've been using 3 non-standard operators here, 
        | the ones provided by RxJS
        | what if we have an issue that an operator cannot solve?
        | that's unlikely as they have more than 130 operators to address most of our needs,
        | also, thaks to es6 imports, 
        | you can just import the operator you need for your use case which will keep the package light weight
        | but if we still need to,
        | we can write our operators.
        | we saw how easy it was to create an observable, 
        | writing operators is not hard.  

section
    h1 tl;dr
    ul
        li.fragment stop thinking in terms of callback
        li.fragment data + operation
        li.fragment start using observables today
        li.fragment libraries for now
        li.fragment write clean code
        li.fragment future You will thank You
        
    aside.notes stop thinking about callbacks
        | start thinking in terms of data and operation, 
        | use observable to model the data
        | operators to performa the operations  
        | they make extending features simple
        | they may not be part of standards yet,
        | but there are  the libraries today
        | when Observables make it into the standard, 
        | the libraries will just become a polyfill wrapper around  the standard implementation
        | let's write clean code
        | future you will thank the present you for that.

section
    h1 Q/A